Repository tonythetiger323/MayThe4thBeRussov2: changes, and which lint-staged commands are due for each by the changed paths.
All: lint:fix, lint-css:fix, lint-md:fix

.lintstagedrc:

{
  "linters":{
    "*.{ts,tsx}": ["lint:fix", "git add"],
    "*.css": ["lint-css:fix", "git add"],
    "*.md": ["lint-md:fix", "git add"]
  },
  "ignore": ["node_modules", "**/build", "**/dist"]
}

added badges for CircleCi and CodeClimate to README
  client/client/README.md
Due: lint-md:fix

added browserlist to package.json
  client/client/package.json
Due: none

updated gitignore
  client/client/.gitignore
Due: none

corrected dependency issue with newrelic
  client/client/package.json
Due: none

sanitize repo
  client/client/newrelic.js
Due: none

install newrelic
  client/client/package-lock.json
  client/client/package.json
Due: none

re-commit package-lock.json
  client/client/package-lock.json
Due: none

corrected dependency issue with jest
  client/client/package-lock.json
  client/client/package.json
Due: none

installed missing peer dependencies
  client/client/package-lock.json
  client/client/package.json
Due: none

installed aws-sdk to resolve build issue
  client/client/package-lock.json
  client/client/package.json
Due: none

uninstall newrelic
  client/client/package-lock.json
  client/client/package.json
Due: none

Installed dependencies for Material-UI and added CDN links for google fonts to public/index.html
  client/client/package-lock.json
  client/client/package.json
  client/client/public/index.html
Due: none

removed test
  client/client/src/components/Countdown/__tests__/index.test.tsx
Due: lint:fix

removed files and references related to newrelic
  client/client/newrelic.js
  client/client/src/index.tsx
Due: lint:fix

Installed dependencies for Material-UI and added CDN links for google fonts to public/index.html
  client/client/public/index.html
Due: none

removed a test to restructure later
  client/client/src/components/layouts/Page/__tests__/index.test.tsx
Due: lint:fix

removed test to refactor later
  client/client/src/components/NavbarLinkMenu/__tests__/index.test.tsx
Due: lint:fix

updated readme to improve codeclimate rating
  client/client/README.md
Due: lint-md:fix

removed test
  client/client/src/components/Navbar/__tests__/index.test.tsx
Due: lint:fix

installed dependency for navbar
  client/client/package-lock.json
  client/client/package.json
Due: none

Project setup updates
  client/client/package-lock.json
  client/client/package.json
  client/client/src/components/Footer/index.tsx
  client/client/src/components/layouts/Page/__tests__/index.test.tsx
  client/client/src/components/layouts/Page/index.tsx
  client/client/src/react-app-env.d.ts
  client/client/tsconfig.build.json
  client/client/tsconfig.json
  client/client/tsconfig.prod.json
  client/client/tsconfig.test.json
  client/client/tslint.json
Due: lint:fix

added heroku postbuild script to package.json
  client/client/package.json
Due: none

made changes to Index.tsx
  client/client/src/components/Pages/Index.tsx
Due: lint:fix

edited scripts to serve build with npm start and added a Procfile for heroku
  client/client/Procfile
  client/client/package.json
Due: none

removed routes props for now
  client/client/src/App.tsx
  client/client/src/components/Pages/Index.tsx
  client/client/src/components/layouts/Page/index.tsx
  client/client/src/routes.tsx
  client/client/src/theme/theme.ts
Due: lint:fix

added types folder for d.ts files
  client/client/src/components/NavbarLinkMenu/index.tsx
  client/client/src/types/images.d.ts
  client/client/src/types/popupstate.d.ts
Due: lint:fix

update unit test
  client/client/src/App.test.tsx
  client/client/src/__tests__/__snapshots__/App.test.tsx.snap
  client/client/src/react-app-env.d.ts
  client/client/tsconfig.json
Due: lint:fix

made a snapshot test for each component
  client/client/src/components/AppliedRoute/__tests__/__snapshots__/index.test.tsx.snap
  client/client/src/components/AppliedRoute/__tests__/index.test.tsx
  client/client/src/components/AppliedRoute/index.tsx
  client/client/src/components/Countdown/index.tsx
  client/client/src/components/Footer/__tests__/__snapshots__/index.test.tsx.snap
  client/client/src/components/Footer/__tests__/index.test.tsx
  client/client/src/components/Layouts/Page.tsx
  client/client/src/components/Layouts/__tests__/Page.test.tsx
  client/client/src/components/Layouts/__tests__/__snapshots__/Page.test.tsx.snap
  client/client/src/components/Navbar/__tests__/__snapshots__/index.test.tsx.snap
  client/client/src/components/Navbar/__tests__/index.test.tsx
  client/client/src/components/NavbarLink/__tests__/__snapshots__/index.test.tsx.snap
  client/client/src/components/NavbarLink/__tests__/index.test.tsx
  client/client/src/components/NavbarLink/index.tsx
  client/client/src/components/NavbarLinkMenu/__tests__/__snapshots__/index.test.tsx.snap
  client/client/src/components/NavbarLinkMenu/__tests__/index.test.tsx
  client/client/src/components/Pages/__tests__/Index.test.tsx
  client/client/src/components/Pages/__tests__/NotFound.test.tsx
  client/client/src/components/Pages/__tests__/UnderConstruction.test.tsx
  client/client/src/components/Pages/__tests__/__snapshots__/Index.test.tsx.snap
  client/client/src/components/Pages/__tests__/__snapshots__/NotFound.test.tsx.snap
  client/client/src/components/Pages/__tests__/__snapshots__/UnderConstruction.test.tsx.snap
  client/client/src/react-app-env.d.ts
Due: lint:fix

installed serve package so build can be statically served on heroku
  client/client/package-lock.json
  client/client/package.json
Due: none

update
  client/client/package-lock.json
  client/client/package.json
  client/client/src/types/react-app-env.d.ts
Due: lint:fix

updated app test file
  client/client/src/__tests__/App.test.tsx
Due: lint:fix

added codeclimate test coverage badge to README
  client/client/README.md
Due: lint-md:fix

Progress on home page
  client/client/configs/base.json
  client/client/package-lock.json
  client/client/package.json
  client/client/src/Layouts/PageLayout.tsx
  client/client/src/Pages/Index.tsx
  client/client/src/Pages/NotFound.tsx
  client/client/src/Pages/UnderConstruction.tsx
  client/client/src/Pages/__tests__/Index.test.tsx
  client/client/src/Pages/__tests__/NotFound.test.tsx
  client/client/src/Pages/__tests__/UnderConstruction.test.tsx
  client/client/src/Pages/__tests__/__snapshots__/Index.test.tsx.snap
  client/client/src/Pages/__tests__/__snapshots__/NotFound.test.tsx.snap
  client/client/src/Pages/__tests__/__snapshots__/UnderConstruction.test.tsx.snap
  client/client/src/Pages/index.css
  client/client/src/components/Layouts/Page.tsx
  client/client/src/components/Layouts/__tests__/Page.test.tsx
  client/client/src/components/Layouts/__tests__/__snapshots__/Page.test.tsx.snap
  client/client/src/components/NavbarLinkMenu/index.tsx
  client/client/src/components/Pages/Index.tsx
  client/client/src/components/PhotoStepper/index.tsx
  client/client/src/routes.tsx
  client/client/src/types/popupstate.d.ts
  client/client/tsconfig.json
  client/client/types/images.d.ts
  client/client/types/material-ui-popup-state.d.ts
  client/client/types/react-app-env.d.ts
  client/client/types/react-swipeable-views-utils.d.ts
Due: lint:fix, lint-css:fix

added node and npm engines to package.json
  client/client/package.json
Due: none

setup more test files
  client/client/src/components/NavbarLink/__tests__/index.test.tsx
Due: lint:fix

removed heroku postbuild script from package.json
  client/client/package.json
Due: none

updated heroku procfile
  client/client/Procfile
Due: none

updated homepage option in package.json
  client/client/package.json
Due: none

setup more test files
  client/client/.editorconfig
  client/client/.jestrc
  client/client/package-lock.json
  client/client/package.json
  client/client/src/App.tsx
  client/client/src/Pages/__tests__/__snapshots__/Index.test.tsx.snap
  client/client/src/Pages/__tests__/__snapshots__/NotFound.test.tsx.snap
  client/client/src/Pages/__tests__/__snapshots__/UnderConstruction.test.tsx.snap
  client/client/src/__mocks__/SomethingCrispy.ts
  client/client/src/__tests__/App.test.tsx
  client/client/src/__tests__/__snapshots__/App.test.tsx.snap
  client/client/src/__tests__/index.test.tsx
  client/client/src/components/Footer/__tests__/index.test.tsx
  client/client/src/components/Navbar/__tests__/index.test.tsx
  client/client/src/components/NavbarLink/__tests__/index.test.tsx
Due: lint:fix

Adapt build scripts to Heroku changes
  client/client/package.json
Due: none
