Repository tonythetiger323/MayThe4thBeRussov2: changes, and which lint-staged commands are due for each by the changed paths.
All: lint:fix, lint-css:fix, lint-md:fix

update
  client/src/Components/ReceptionCard/index.tsx
Due: lint:fix

have message page reload after submit
  client/src/Components/MessageDialog/index.tsx
Due: lint:fix

updated font
  client/src/Components/CeremonyCard/index.tsx
  client/src/Components/MeganCard/index.tsx
  client/src/Components/RandyCard/index.tsx
  client/src/Components/ReceptionCard/index.tsx
  client/src/Pages/TheirStory.tsx
Due: lint:fix

reload
  client/src/Components/MessageDialog/index.tsx
Due: lint:fix

updated formatting
  client/src/Components/CeremonyCard/index.tsx
  client/src/Components/ReceptionCard/index.tsx
  client/src/Pages/Ceremony.tsx
  client/src/Pages/Reception.tsx
Due: lint:fix

photostepper sizing for larger viewpoint
  client/src/Components/PhotoStepper/index.tsx
Due: lint:fix

corrected size of photo in photo stepper
  client/src/Components/PhotoStepper/index.tsx
Due: lint:fix

Format updates
  client/src/Components/MeganCard/index.tsx
  client/src/Components/RandyCard/index.tsx
  client/src/utils/API.ts
  server/src/main.ts
  server/src/rsvps/rsvps.controller.ts
  server/src/rsvps/rsvps.service.ts
Due: lint:fix

started to setup redux and corrected photostepper breakpoint
  client/package-lock.json
  client/package.json
  client/src/Components/PhotoStepper/index.tsx
  client/src/Components/RsvpTable/index.tsx
  client/src/Pages/RsvpDashboard.tsx
  client/src/index.tsx
  client/src/redux/actions/authenticationActions.ts
  client/src/redux/actions/index.ts
  client/src/redux/reducers/index.ts
  client/src/redux/reducers/loginReducer.ts
  client/src/redux/sagas/authenticationSaga.ts
  client/src/redux/sagas/index.ts
  client/src/redux/sagas/watchers.ts
  client/src/redux/store/configureStore.ts
  client/src/redux/types/LoginState.ts
  client/src/redux/types/index.ts
  client/src/types/LoginState.ts
  client/src/types/index.ts
Due: lint:fix

correcting large screen responsiveness for safari
  client/package-lock.json
  client/package.json
  client/src/Components/CeremonyCard/index.tsx
  client/src/index.tsx
  client/src/redux/reducers/index.ts
  client/src/redux/store/configureStore.ts
Due: lint:fix

rsvpdashboard page working
  client/src/Components/RsvpTable/index.tsx
  client/src/routes.tsx
Due: lint:fix

going to reset redux setup after fixing some styling issues" ;
  client/src/redux/actions/authenticationActions.ts
  client/src/redux/actions/index.ts
  client/src/redux/reducers/index.ts
  client/src/redux/reducers/loginReducer.ts
  client/src/redux/sagas/authenticationSaga.ts
  client/src/redux/sagas/index.ts
  client/src/redux/sagas/watchers.ts
  client/src/redux/store/configureStore.ts
  client/src/redux/types/LoginState.ts
  client/src/redux/types/index.ts
Due: lint:fix

fixed view on XSMax
  client/src/Components/ReceptionCard/index.tsx
  client/src/index.tsx
Due: lint:fix

updated background image size
  client/src/Layouts/PageLayout.tsx
Due: lint:fix

added polyfill for IE
  client/package-lock.json
  client/package.json
  client/src/index.tsx
Due: lint:fix

setup protected route to view RSVP data"
  client/package-lock.json
  client/package.json
  client/src/Components/LoginCard/index.tsx
  client/src/Components/ProtectedRoute/index.tsx
  client/src/index.tsx
  client/src/redux/actions/index.ts
  client/src/redux/constants/action-types.ts
  client/src/redux/reducers/index.ts
  client/src/redux/store/index.ts
  client/src/routes.tsx
  server/src/main.ts
Due: lint:fix

Update bcrypt version of package.json
  server/package.json
Due: none

Updated bcrypt version
  server/package.json
Due: none

updated accessing rsvpdashboard
  client/src/Components/Footer/index.tsx
  client/src/Components/LoginCard/index.tsx
  client/src/Components/ProtectedRoute/index.tsx
  client/src/types/LoginState.ts
  client/src/types/index.ts
Due: lint:fix

updating package-lock.json
  client/package-lock.json
  server/package-lock.json
Due: none

updates
  .circleci/config.yml
  client/package-lock.json
  server/package-lock.json
  server/package.json
Due: none

updated lint rules
  client/tslint.json
  server/tslint.json
Due: none

updated ci
  .circleci/config.yml
Due: none

changed react-scripts version
  .circleci/config.yml
  client/package-lock.json
  client/package.json
Due: none

removed greenkeeper badge
  README.md
Due: lint-md:fix

removed codeclimate from readme
  README.md
Due: lint-md:fix

removed greenkeeper json
  greenkeeper.json
Due: none

updated package.json
  client/package-lock.json
  client/package.json
Due: none

updated login card
  client/src/Components/LoginCard/index.tsx
Due: lint:fix

updated CI
  .circleci/config.yml
Due: none

added link to Rand's facebook
  client/src/Components/CeremonyCard/index.tsx
Due: lint:fix

added link to Randy's Facebook
  client/src/Components/CeremonyCard/index.tsx
Due: lint:fix

setup sentry and error boundaries
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/Components/ErrorBoundary/index.tsx
  client/src/index.tsx
Due: lint:fix

site updates
  client/package-lock.json
  client/package.json
  client/src/Components/CeremonyCard/index.tsx
  client/src/Components/ErrorBoundary/index.tsx
  client/src/Components/Map/index.tsx
  client/src/Components/MessageDialog/index.tsx
  client/src/Components/ReceptionCard/index.tsx
  client/src/Pages/Ceremony.tsx
  client/src/Pages/Reception.tsx
  client/src/index.tsx
  client/src/setupTests.ts
Due: lint:fix

removed redux setup to change to react hooks
  client/src/Components/LoginCard/index.tsx
  client/src/index.tsx
  client/src/redux/actions/index.ts
  client/src/redux/constants/action-types.ts
  client/src/redux/reducers/index.ts
  client/src/redux/store/index.ts
Due: lint:fix

setting up okta
  .gitignore
  client/src/App.tsx
  client/src/auth.ts
  client/src/index.tsx
  client/src/okta-react.d.ts
  client/src/routes.tsx
Due: lint:fix

refactor
  client/.env.local
  client/package-lock.json
  client/package.json
  client/src/okta-react.d.ts
  client/yarn.lock
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/auth/jwt.strategy.ts
  server/src/auth/local.strategy.ts
  server/src/main.ts
  server/src/messages/message.entity.ts
  server/src/messages/messages.controller.ts
  server/src/messages/messages.service.ts
  server/src/rsvps/rsvp.entity.ts
  server/src/rsvps/rsvps.controller.ts
  server/src/rsvps/rsvps.module.ts
  server/src/rsvps/rsvps.service.ts
  server/src/users/user.entity.ts
  server/src/users/users.controller.ts
  server/src/users/users.module.ts
  server/src/users/users.service.ts
  server/yarn.lock
Due: lint:fix

Path conditions:
  lint:fix: any of: *.{ts,tsx}
  lint-css:fix: any of: *.css
  lint-md:fix: any of: *.md
