Repository tonythetiger323/MayThe4thBeRussov2: changes, and which lint-staged commands are due for each by the changed paths.
All: lint:fix, lint-css:fix, lint-md:fix

removed database setup so can reset it
  .circleci/setup-heroku.sh
  server/src/app.module.ts
  server/src/config/config.service.ts
  server/src/database/user/user.entity.ts
  server/src/database/user/user.module.ts
  server/src/database/user/user.service.ts
  server/tsconfig.json
  server/tslint.json
Due: lint:fix

started to setup database again
  server/package-lock.json
  server/src/app.module.ts
Due: lint:fix

updated gitignore
  .gitignore
Due: none

resetting up database, user table, and CRUD service
  server/src/app.module.ts
  server/src/database/users/user.entity.ts
  server/src/database/users/users.controller.spec.ts
  server/src/database/users/users.controller.ts
  server/src/database/users/users.module.ts
  server/src/database/users/users.service.spec.ts
  server/src/database/users/users.service.ts
Due: lint:fix

removed config module setup, updated user entity to hash password before insert and deteled .env files
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/config/config.module.ts
  server/src/config/config.service.ts
  server/src/database/users/user.entity.ts
  server/test.env
Due: lint:fix

created auth links component, register user and user login dialog components, and installed necessary dependencies
  client/package-lock.json
  client/package.json
  client/src/Components/AuthLinkList/index.tsx
  client/src/Components/LoginDialog/__tests__/__snapshots__/index.test.tsx.snap
  client/src/Components/LoginDialog/__tests__/index.test.tsx
  client/src/Components/LoginDialog/index.tsx
  client/src/Components/RegisterDialog/__tests__/__snapshots__/index.test.tsx.snap
  client/src/Components/RegisterDialog/__tests__/index.test.tsx
  client/src/Components/RegisterDialog/index.tsx
  client/src/utils/API.ts
  package-lock.json
Due: lint:fix

updated manifest.json sizes for favicon, updated page layout to include authlinks, updated background image in css, updated index test to reflect changes, made updtes to server
  client/package-lock.json
  client/package.json
  client/public/index.css
  client/public/manifest.json
  client/src/Layouts/PageLayout.tsx
  client/src/__mocks__/store.ts
  client/src/__tests__/index.test.tsx
  client/src/index.tsx
  client/src/redux/actions/authenticationActions.ts
  client/src/redux/actions/index.ts
  client/src/redux/reducers/index.ts
  client/src/redux/reducers/registerReducer.ts
  client/src/redux/sagas/authenticationSaga.ts
  client/src/redux/sagas/index.ts
  client/src/redux/sagas/watchers.ts
  client/src/redux/store/configureStore.ts
  client/src/utils/API.ts
  server/config/config.module.ts
  server/config/config.service.ts
  server/database/user/user.entity.ts
  server/database/user/user.module.ts
  server/database/user/user.service.ts
  server/database/users/user.entity.ts
  server/database/users/user.module.ts
  server/database/users/users.controller.spec.ts
  server/database/users/users.controller.ts
  server/database/users/users.service.spec.ts
  server/database/users/users.service.ts
  server/src/app.controller.spec.ts
  server/src/app.controller.ts
  server/src/app.module.ts
  server/src/main.ts
Due: lint:fix, lint-css:fix

updates to server
  server/sql-data/dev.sql
  server/sql-data/test.sql
  server/src/database/users/users.controller.ts
  server/src/database/users/users.service.ts
Due: lint:fix

updated user controller
  server/src/database/users/users.controller.ts
Due: lint:fix

updated page layout
  client/src/Components/AuthNavBar/index.tsx
  client/src/Layouts/PageLayout.tsx
Due: lint:fix

updated user controller
  server/database/users/users.controller.ts
Due: lint:fix

removed duplicate database folder and restructured server config
  server/database/users/user.entity.ts
  server/database/users/user.module.ts
  server/database/users/users.service.spec.ts
  server/database/users/users.service.ts
  server/sql-data/dev.sql
  server/sql-data/test.sql
  server/src/app.module.ts
  server/src/database/users/users.controller.spec.ts
  server/src/database/users/users.controller.ts
  server/src/users/user.entity.ts
  server/src/users/users.controller.spec.ts
  server/src/users/users.controller.ts
  server/src/users/users.module.ts
  server/src/users/users.service.spec.ts
  server/src/users/users.service.ts
Due: lint:fix

removed fastify adapter
  server/src/main.ts
Due: lint:fix

deleted root package-lock.json
  package-lock.json
Due: none

made css changes for background image
  client/public/index.css
Due: lint-css:fix

changed ormconfig from .json file to .env, updated gitignore accordingly
  .gitignore
  server/src/__tests__/app.controller.spec.ts.old
  server/src/app.module.ts
Due: lint:fix

updated gitignore, changed pages not done to under construction, and updated server to serve build versions of react UI
  .gitignore
  client/src/Components/CeremonyCard/__tests__/index.test.tsx
  client/src/Components/Footer/index.tsx
  client/src/Pages/UnderConstruction.tsx
  client/src/__mocks__/store.ts
  client/src/__tests__/index.test.tsx
  client/src/routes.tsx
  server/src/app.controller.ts
  server/src/main.ts
Due: lint:fix

updated procfile and root package.json for build purposes
  Procfile
  package.json
Due: none

updated root package.json for build purposes
  package.json
Due: none

updated root package.json for build purposes
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Due: none

changed font
  client/public/index.html
  client/src/Components/AuthNavBar/index.tsx
  client/src/Components/PhotoStepper/index.tsx
  client/src/Layouts/PageLayout.tsx
  client/src/theme/theme.ts
Due: lint:fix

updated tslint and main.ts
  server/src/main.ts
  server/tslint.json
Due: lint:fix

installed dependencies to setup authentication with passport
  server/package-lock.json
  server/package.json
Due: none

started auth setup
  server/package-lock.json
  server/package.json
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.spec.ts
  server/src/auth/auth.service.ts
  server/src/auth/local.strategy.ts
  server/src/users/user.entity.ts
  server/src/utils/crypt.ts
Due: lint:fix

rsvp entity/table created and relationship established with user table
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/main.ts
  server/src/rsvps/rsvp.entity.ts
  server/src/rsvps/rsvps.controller.spec.ts
  server/src/rsvps/rsvps.controller.ts
  server/src/rsvps/rsvps.module.ts
  server/src/rsvps/rsvps.service.spec.ts
  server/src/rsvps/rsvps.service.ts
  server/src/users/user.entity.ts
  server/src/users/users.service.ts
  server/tslint.json
Due: lint:fix

changed node version in package.json, added basic types for redux store, and adjusted api route for registration
  client/package.json
  client/src/redux/reducers/registerReducer.ts
  client/src/redux/sagas/authenticationSaga.ts
  client/src/types/ApplicationState.ts
  client/src/types/RegisterState.ts
  client/src/types/index.ts
  client/src/utils/API.ts
Due: lint:fix

Changed global node version to be 9 or greater
  package.json
Due: none

Adjusted header layout
  client/src/Components/AuthNavBar/index.tsx
  client/src/Components/Navbar/index.tsx
  client/src/Layouts/PageLayout.tsx
Due: lint:fix

updated font on footer and removed whitespace from main.ts
  client/src/Components/Footer/index.tsx
  server/src/main.ts
Due: lint:fix

updates to auth controller for login route
  server/src/app.module.ts
  server/src/auth/auth.controller.spec.ts
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/auth/local.strategy.ts
  server/src/utils/crypt.ts
Due: lint:fix

setting up lerna and updated readme
  README.md
  lerna.json
  package-lock.json
  package.json
Due: lint-md:fix

changes to package.json and creation of package-lock.json
  client/client/package-lock.json
  client/client/package.json
Due: none

Initial commit
  client/client/LICENSE.md
  client/client/README.md
Due: lint-md:fix

Initial Commit
  client/client/.circleci/config.yml
  client/client/.codeclimate.yml
  client/client/.gitignore
  client/client/.huskyrc
  client/client/.jestrc
  client/client/.lintstagedrc
  client/client/.nvmrc
  client/client/.prettierrc
  client/client/README.md
  client/client/package-lock.json
  client/client/package.json
  client/client/public/favicon.ico
  client/client/public/index.html
  client/client/public/manifest.json
  client/client/src/App.css
  client/client/src/App.test.tsx
  client/client/src/App.tsx
  client/client/src/__tests__/App.test.tsx
  client/client/src/index.css
  client/client/src/index.tsx
  client/client/src/logo.svg
  client/client/src/react-app-env.d.ts
  client/client/src/serviceWorker.ts
  client/client/src/setupTests.ts
  client/client/test-results/jest/results.xml
  client/client/tsconfig.jest.json
  client/client/tsconfig.json
  client/client/tslint.json
Due: lint:fix, lint-css:fix, lint-md:fix

Initial commit
  client/client/package-lock.json
  client/client/package.json
Due: none

updated tslint
  client/client/tslint.json
Due: none

corrected errors found by linter
  client/client/.gitignore
  client/client/newrelic.js
  client/client/package-lock.json
  client/client/package.json
  client/client/src/App.tsx
  client/client/src/index.tsx
  client/client/src/logo.svg
  client/client/src/serviceWorker.ts
  client/client/tslint.json
Due: lint:fix

added favicon and removed codeclimate file
  client/client/.codeclimate.yml
  client/client/public/assets/favicon/favicon.ico
  client/client/public/assets/favicon/yoda-114-227445.png
  client/client/public/assets/favicon/yoda-120-227445.png
  client/client/public/assets/favicon/yoda-144-227445.png
  client/client/public/assets/favicon/yoda-152-227445.png
  client/client/public/assets/favicon/yoda-16-227445.png
  client/client/public/assets/favicon/yoda-24-227445.png
  client/client/public/assets/favicon/yoda-32-227445.png
  client/client/public/assets/favicon/yoda-48-227445.png
  client/client/public/assets/favicon/yoda-57-227445.png
  client/client/public/assets/favicon/yoda-64-227445.png
  client/client/public/assets/favicon/yoda-72-227445.png
  client/client/public/assets/favicon/yoda260.png
  client/client/public/favicon.ico
  client/client/public/index.html
  client/client/public/manifest.json
Due: none

Path conditions:
  lint:fix: any of: *.{ts,tsx}
  lint-css:fix: any of: *.css
  lint-md:fix: any of: *.md
