Repository tonythetiger323/MayThe4thBeRussov2: changes, and which lint-staged commands are due for each by the changed paths.
All: lint:fix, lint-css:fix, lint-md:fix

.lintstagedrc:

{
  "linters":{
    "*.{ts,tsx}": ["lint:fix", "git add"],
    "*.css": ["lint-css:fix", "git add"],
    "*.md": ["lint-md:fix", "git add"]
  },
  "ignore": ["node_modules", "**/build", "**/dist"]
}

updated ci
  .circleci/config.yml
  package-lock.json
  package.json
Due: none

updated settings
  .gitignore
  client/.jestrc
  server/.jestrc
Due: none

updated jest config
  client/src/setupTests.ts
  jest.config.js
  package-lock.json
  package.json
Due: lint:fix

updated jest config
  client/src/Layouts/PageLayout.tsx
  client/src/index.css
  client/src/setupTests.ts
  jest.config.js
  package-lock.json
  package.json
  rtl.setup.js
Due: lint:fix, lint-css:fix

updated nodemon config
  nodemon-debug.json
  nodemon.json
Due: none

deleted package-lock.json
  package-lock.json
Due: none

made corrections to package.json based off of greenkeeper recommendations
  jest.config.js
  nodemon.json
  package.json
  rtl.setup.js
Due: none

correct syntax error in /client/src/index.css
  client/src/index.css
Due: lint-css:fix

deleted /client/src/context.d.tsx to resolve build issue
  client/src/context.d.tsx
Due: lint:fix

update to package-lock.json
  server/package-lock.json
Due: none

updated ci settings and started to impletement testing for api
  .circleci/config.yml
  .circleci/setup-heroku.sh
  .gitignore
  client/package-lock.json
  client/package.json
  jest.config.js
  server/config/config.service.ts
  server/jest.config.js
  server/junit.xml
  server/nodemon-debug.json
  server/nodemon-prod.json
  server/nodemon.json
  server/package-lock.json
  server/package.json
  server/sql-data/dev.sql
  server/sql-data/test.sql
  server/src/app.controller.spec.ts
  server/src/app.controller.ts
  server/src/app.module.ts
  server/src/config/config.module.ts
  server/src/config/config.service.ts
  server/src/database/user/user.entity.ts
  server/src/database/user/user.module.ts
  server/src/database/user/user.service.ts
  server/src/main.ts
  server/test/app.e2e-spec.ts
Due: lint:fix

deleted junit file
  server/junit.xml
Due: none

made coorection to ci config
  .circleci/config.yml
Due: none

corrected ci config
  .circleci/config.yml
Due: none

update ci config
  .circleci/config.yml
Due: none

updated ci config
  .circleci/config.yml
Due: none

updated git ignore
  .gitignore
  server/test.env
Due: none

went back to old ci config
  .circleci/config.yml
Due: none
