Repository tonythetiger323/MayThe4thBeRussov2: changes, and which lint-staged commands are due for each by the changed paths.
All: lint:fix, lint-css:fix, lint-md:fix

removed email from package.json just to trigger a change
  client/client/package.json
Due: none

update tests
  client/client/src/Pages/__tests__/Index.test.tsx
  client/client/src/Pages/__tests__/__snapshots__/Index.test.tsx.snap
  client/client/src/__tests__/__snapshots__/index.test.tsx.snap
  client/client/src/__tests__/index.test.tsx
Due: lint:fix

attempt to correcet failing tests
  client/client/package.json
  client/client/src/Pages/Index.tsx
  client/client/src/components/NavbarLinkMenu/__tests__/index.test.tsx
Due: lint:fix

all tests are passing again
  client/client/.circleci/config.yml
  client/client/src/Pages/__tests__/Index.test.tsx
  client/client/src/Pages/__tests__/__snapshots__/Index.test.tsx.snap
  client/client/src/__tests__/__snapshots__/routes.test.tsx.snap
  client/client/src/__tests__/routes.test.tsx
  client/client/src/components/AppliedRoute/index.tsx
Due: lint:fix

updated circleci settings and tests
  client/client/.circleci/config.yml
  client/client/package.json
  client/client/src/react-app-env.d.ts
  client/client/test-results/jest/results.xml
  client/client/tsconfig.json
  client/client/yarn.lock
Due: lint:fix

Updated Navbar Link test file
  client/client/src/components/NavbarLink/__tests__/index.test.tsx
Due: lint:fix

removed yarn update from circleci settings
  client/client/.circleci/config.yml
Due: none

made change to test script in package.json
  client/client/package.json
Due: none

corrected yarn version for CI
  client/client/package.json
Due: none

temporarily commented out running tests in circle-ci config, it appears tests are failing there that shouldn't be, will add back when I have a better idea of what's going on.
  client/client/.circleci/config.yml
Due: none

set circleci back up
  client/client/.circleci/config.yml
Due: none

tsconfi.json updated and react-app-env d.ts file added
  client/client/src/react-app-env.d.ts
  client/client/tsconfig.json
Due: lint:fix

corrected node version for CI
  client/client/package.json
Due: none

circleci issues, attempting to reset it
  client/client/.circleci/config.yml
  client/client/README.md
Due: lint-md:fix

update circleci
  client/client/.circleci/config.yml
  client/client/README.md
  client/client/circleci.textClipping
  client/client/git_deploy_key
  client/client/git_deploy_key.enc
  client/client/package-lock.json
  client/client/package.json
Due: lint-md:fix

removed yard engine specifiation
  client/client/package.json
Due: none

typo in package.json
  client/client/package.json
Due: none

converted back to npm as package installer, updated gitignore, set circleci back to use npm as well.
  client/client/.circleci/config.yml
  client/client/.gitignore
  client/client/package-lock.json
  client/client/package.json
  client/client/yarn.lock
Due: none

update ci
  client/client/circleci.textClipping
  client/client/git_deploy_key
  client/client/git_deploy_key.pub
Due: none

removed commitizen badge from readme
  client/client/README.md
Due: lint-md:fix

removed ssh setup from ci
  client/client/.circleci/config.yml
  client/client/git_deploy_key.enc
  client/client/git_deploy_key.pub
Due: none

corrected yml errors for circleci
  client/client/.circleci/config.yml
Due: none

removed lerna setup and updated scripts
  client/package-lock.json
  client/package.json
  lerna.json
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Due: none

made changes to build scripts
  client/package.json
  package.json
  server/package-lock.json
  server/package.json
Due: none

Updated README
  README.md
Due: lint-md:fix

updated testing
  client/package-lock.json
  client/package.json
  client/src/Components/Navbar/__tests__/__snapshots__/index.test.tsx.snap
  client/src/Pages/__tests__/__snapshots__/UnderConstruction.test.tsx.snap
  client/src/__tests__/__snapshots__/App.test.tsx.snap
  client/src/__tests__/serviceWorker.test.tsx
  client/src/index.tsx
  client/src/serviceWorker.ts
Due: lint:fix

updated redux setup
  .gitignore
  client/src/Components/LoginDialog/index.tsx
  client/src/Components/RegisterDialog/index.tsx
  client/src/redux/actions/authenticationActions.ts
  client/src/redux/actions/index.ts
  client/src/redux/reducers/index.ts
  client/src/redux/reducers/loginReducer.ts
  client/src/redux/sagas/authenticationSaga.ts
  client/src/redux/sagas/watchers.ts
  client/src/types/LoginState.ts
  client/src/types/index.ts
Due: lint:fix

removed cache from package.json
  package.json
Due: none

added cache directory back to package.json
  package.json
Due: none

updated package.json scripts
  package.json
Due: none

updated package.json
  package.json
Due: none

updated package.json
  package.json
  server/package.json
Due: none

updated package.json
  client/package.json
  server/package.json
Due: none

Path conditions:
  lint:fix: any of: *.{ts,tsx}
  lint-css:fix: any of: *.css
  lint-md:fix: any of: *.md
